In [1]:
import pandas as pd

data = pd.read_csv('data/GA_train.csv')
data.head()

,id_no,State,City,Date Sown,Variety,Date of Cut,Julian Day,Yield (tons/acre),Time Since Sown (Days),Time Since Last Harvest (Days),Total Radiation (MJ/m^2),Total Rainfall (mm),Avg Air Temp (C),Avg Min Temp (C),Avg Max Temp (C),Avg Soil Moisture (%)
0,1,Georgia,Midville,11/1/2007,GA-505,11/20/2008,325,5.05,385,0,4463.92,599.974,21.560558,15.770406,28.373427,0.18927
1,2,Georgia,Midville,11/1/2007,Bulldog 805,11/20/2008,325,5.05,385,0,4463.92,599.974,21.560558,15.770406,28.373427,0.18927
2,3,Georgia,Midville,11/1/2007,CW 36106,11/20/2008,325,4.76,385,0,4463.92,599.974,21.560558,15.770406,28.373427,0.18927
3,4,Georgia,Midville,11/1/2007,Attention II,11/20/2008,325,4.95,385,0,4463.92,599.974,21.560558,15.770406,28.373427,0.18927
4,5,Georgia,Midville,11/1/2007,Hybri Force 700,11/20/2008,325,4.86,385,0,4463.92,599.974,21.560558,15.770406,28.373427,0.18927

In [19]:
from sdv.tabular import CTGAN

model = CTGAN(primary_key='id_no',log_frequency=False, cuda=True, epochs=500, batch_size=100, generator_lr=.000002, discriminator_lr=.000009)
model.fit(data)

/home/myid/jmvance/.local/lib/python3.6/site-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/home/myid/jmvance/.local/lib/python3.6/site-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/home/myid/jmvance/.local/lib/python3.6/site-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (4) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/home/myid/jmvance/.local/lib/python3.6/site-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/home/myid/jmvance/.local/lib/python3.6/site-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/home/myid/jmvance/.local/lib/python3.6/site-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/home/myid/jmvance/.local/lib/python3.6/site-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/home/myid/jmvance/.local/lib/python3.6/site-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_
/home/myid/jmvance/.local/lib/python3.6/site-packages/sklearn/mixture/_base.py:148: ConvergenceWarning: Number of distinct clusters (5) found smaller than n_clusters (10). Possibly due to duplicate points in X.
  random_state=random_state).fit(X).labels_

In [20]:
new_data = model.sample(44)

In [21]:
new_data.to_csv('data/GA_synth/GAsynth1_012822.csv')
new_data.head()

,id_no,State,City,Date Sown,Variety,Date of Cut,Julian Day,Yield (tons/acre),Time Since Sown (Days),Time Since Last Harvest (Days),Total Radiation (MJ/m^2),Total Rainfall (mm),Avg Air Temp (C),Avg Min Temp (C),Avg Max Temp (C),Avg Soil Moisture (%)
0,0,Georgia,Tifton,2/21/2008,BaraWet 501,11/20/2008,280,4.83,341,0,5320.75,736.842748,20.581257,20.900671,42.439870,0.116674
1,1,Georgia,Midville,11/1/2007,Hybri Force 600,11/11/2008,330,2.27,705,178,3550.85,891.688816,138.929751,44.807011,167.093820,0.157752
2,2,Georgia,Midville,2/21/2008,BaraWet 501,11/11/2008,246,6.03,386,390,3400.10,656.207576,35.361134,105.988887,59.015305,0.563424
3,3,Georgia,Tifton,2/21/2008,Hybri Force 600,11/11/2008,274,3.24,622,269,5320.75,730.848194,138.929751,105.988887,26.190265,0.672213
4,4,Georgia,Midville,2/21/2008,GA-505,11/20/2008,341,3.90,367,381,4063.47,1323.896000,34.092716,105.988887,28.835657,0.116674

In [22]:
# get aggregate data
targetDataLoc = 'data/GA_test.csv'
aggDataLoc = 'data/GA_synth/GAsynth1_012822.csv'

aggDf = pd.read_csv(aggDataLoc)
#aggDf = aggDf.drop("Unnamed: 0",axis=1)
targetDf = pd.read_csv(targetDataLoc)
#targetDf = targetDf.drop("Unnamed: 0",axis=1)
#aggDf.head()
targetDf.head()

,State,City,Date Sown,Variety,Date of Cut,Julian Day,Yield (tons/acre),Time Since Sown (Days),Time Since Last Harvest (Days),Total Radiation (MJ/m^2),Total Rainfall (mm),Avg Air Temp (C),Avg Min Temp (C),Avg Max Temp (C),Avg Soil Moisture (%)
0,Georgia,Athens,10/10/2007,TS 4010,12/5/2008,340.0,3.35,422.0,0.0,3545.32,413.282,18.354044,12.543772,24.636933,0.129465
1,Georgia,Athens,10/10/2007,BaraWet 501,12/5/2008,340.0,2.99,422.0,0.0,3545.32,413.282,18.354044,12.543772,24.636933,0.129465
2,Georgia,Athens,10/10/2007,GA-505,12/5/2008,340.0,3.08,422.0,0.0,3545.32,413.282,18.354044,12.543772,24.636933,0.129465
3,Georgia,Athens,10/10/2007,Bulldog 805,12/5/2008,340.0,3.10,422.0,0.0,3545.32,413.282,18.354044,12.543772,24.636933,0.129465
4,Georgia,Athens,10/10/2007,Phoenix,12/5/2008,340.0,3.13,422.0,0.0,3545.32,413.282,18.354044,12.543772,24.636933,0.129465

In [23]:
############## imports
# general
import statistics
import datetime
#from sklearn.externals import joblib # save and load models
import random
# data manipulation and exploration
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib

## machine learning stuff
# preprocessing
from sklearn import preprocessing
# feature selection
from sklearn.feature_selection import SelectKBest, SelectPercentile
from sklearn.feature_selection import f_regression
# pipeline
from sklearn.pipeline import Pipeline
# train/testing
from sklearn.model_selection import train_test_split, KFold, GridSearchCV, cross_val_score  
# error calculations
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
# models
from sklearn.linear_model import LinearRegression # linear regression
from sklearn.linear_model import BayesianRidge #bayesisan ridge regression
from sklearn.svm import SVR  # support vector machines regression
from sklearn.gaussian_process import GaussianProcessRegressor # import GaussianProcessRegressor
from sklearn.neighbors import KNeighborsRegressor # k-nearest neightbors for regression
from sklearn.neural_network import MLPRegressor # neural network for regression
from sklearn.tree import DecisionTreeRegressor # decision tree regressor
from sklearn.ensemble import RandomForestRegressor  # random forest regression
from sklearn.ensemble import AdaBoostRegressor # adaboost for regression
# saving models
# from sklearn.externals import joblib
import joblib

# import the API
APILoc = 'API/'

import sys
sys.path.insert(0, APILoc)

from API import *

In [24]:
# filter out the features that will not be used by the machine learning models

# the features to keep:
# xColumnsToKeep = ["Julian Day", "Time Since Sown (Days)", "Time Since Last Harvest (Days)", "Total Radiation (MJ/m^2)",
#                "Total Rainfall (mm)", "Avg Air Temp (C)", "Avg Min Temp (C)", "Avg Max Temp (C)",
#                  "Avg Soil Moisture (%)", "Day Length (hrs)"], "Percent Cover (%)"]

xColumnsToKeep = ["Julian Day", "Time Since Sown (Days)", "Total Radiation (MJ/m^2)",
               "Total Rainfall (mm)", "Avg Air Temp (C)", "Avg Min Temp (C)", "Avg Max Temp (C)",
                 "Avg Soil Moisture (%)"]


#xColumnsToKeep = ["Julian Day", "Time Since Sown (Days)", "Total Radiation (MJ/m^2)", "Total Rainfall (mm)"]

# the target to keep
yColumnsToKeep = ["Yield (tons/acre)"]

# get a dataframe containing the features and the targets
xDf = aggDf[xColumnsToKeep]
test_xDf = targetDf[xColumnsToKeep]
yDf = aggDf[yColumnsToKeep]
test_yDf = targetDf[yColumnsToKeep]

# reset the index
xDf = xDf.reset_index(drop=True)
yDf = yDf.reset_index(drop=True)
test_xDf = xDf.reset_index(drop=True)
test_yDf = yDf.reset_index(drop=True)

pd.set_option('display.max_rows', 2500)
pd.set_option('display.max_columns', 500)

xCols = list(xDf)

In [25]:
# hide the warnings because training the neural network caues lots of warnings.
import warnings
warnings.filterwarnings('ignore')

# make the parameter grids for sklearn's gridsearchcv
rfParamGrid = {
        'model__n_estimators': [5, 10, 25, 50, 100], # Number of estimators
        'model__max_depth': [5, 10, 15, 20], # Maximum depth of the tree
        'model__criterion': ["mae"]
    }
knnParamGrid ={
        'model__n_neighbors':[2,5,10,20,40,80],
        'model__weights': ['uniform', 'distance'],
        'model__leaf_size': [5, 10, 30, 50]    
    }
svrParamGrid = {
        'model__kernel': ['linear', 'poly', 'rbf', 'sigmoid'],
        'model__C': [0.1, 1.0, 5.0, 10.0],
        'model__gamma': ["scale", "auto"],
        'model__degree': [2,3,4,5]
    }
nnParamGrid = {
        'model__hidden_layer_sizes':[(3), (5), (10), (3,3), (5,5), (7,7)],
        'model__solver': ['sgd', 'adam'],
        'model__learning_rate' : ['constant', 'invscaling', 'adaptive'],
        'model__learning_rate_init': [0.1, 0.01, 0.001]      
    }

linRegParamGrid = {}

bayesParamGrid={
        'model__n_iter':[100,300,500]
    }

dtParamGrid = {
    'model__criterion': ['mae'],
    'model__max_depth': [5,10,25,50,100]
    }

aModelList = [(RandomForestRegressor(), rfParamGrid, "rfTup.pkl"),
              (KNeighborsRegressor(), knnParamGrid, "knnTup.pkl"),
              (SVR(), svrParamGrid, "svrTup.pkl"),
             #(MLPRegressor(), nnParamGrid, "nnTup.pkl")],
             (LinearRegression(), linRegParamGrid, "linRegTup.pkl"),
             (BayesianRidge(), bayesParamGrid, "bayesTup.pkl"),
             (DecisionTreeRegressor(), dtParamGrid, "dtTup.pkl")]

N = 20
workingDir = 'working_dir'
numFeatures = 8 # 11

In [26]:
saveMLResults(test_xDf, test_yDf, N, xDf, yDf, aModelList, workingDir, numFeatures, printResults=True)

model:  rfTup
Avg MAE:  2207.06
Avg R squared:  -204.08
Best MAE:  1292.0
Best R squared:  0.118
Parameters of the best model:  {'model__criterion': 'mae', 'model__max_depth': 20, 'model__n_estimators': 10}
Features selected by best model:  ['Julian Day', 'Time Since Sown (Days)', 'Total Radiation (MJ/m^2)', 'Total Rainfall (mm)', 'Avg Air Temp (C)', 'Avg Min Temp (C)', 'Avg Max Temp (C)', 'Avg Soil Moisture (%)']

test results on our test data:
results:
0.45588636363636376
0.7410744507304241
model:  knnTup
Avg MAE:  1981.389
Avg R squared:  -128.454
Best MAE:  162.678
Best R squared:  0.948
Parameters of the best model:  {'model__leaf_size': 5, 'model__n_neighbors': 5, 'model__weights': 'distance'}
Features selected by best model:  ['Julian Day', 'Time Since Sown (Days)', 'Total Radiation (MJ/m^2)', 'Total Rainfall (mm)', 'Avg Air Temp (C)', 'Avg Min Temp (C)', 'Avg Max Temp (C)', 'Avg Soil Moisture (%)']

test results on our test data:
results:
0.003697226758894541
0.9997612176131211
model:  svrTup
Avg MAE:  2059.782
Avg R squared:  -180.571
Best MAE:  759.452
Best R squared:  0.776
Parameters of the best model:  {'model__C': 10.0, 'model__degree': 2, 'model__gamma': 'scale', 'model__kernel': 'rbf'}
Features selected by best model:  ['Julian Day', 'Time Since Sown (Days)', 'Total Radiation (MJ/m^2)', 'Total Rainfall (mm)', 'Avg Air Temp (C)', 'Avg Min Temp (C)', 'Avg Max Temp (C)', 'Avg Soil Moisture (%)']

test results on our test data:
results:
0.11135361052031113
0.9874883061926653
model:  linRegTup
Avg MAE:  2115.131
Avg R squared:  -218.628
Best MAE:  2047.712
Best R squared:  0.31
Parameters of the best model:  {}
Features selected by best model:  ['Julian Day', 'Time Since Sown (Days)', 'Total Radiation (MJ/m^2)', 'Total Rainfall (mm)', 'Avg Air Temp (C)', 'Avg Min Temp (C)', 'Avg Max Temp (C)', 'Avg Soil Moisture (%)']

test results on our test data:
results:
0.8399885823115636
0.22848614760920283
model:  bayesTup
Avg MAE:  2010.888
Avg R squared:  -143.706
Best MAE:  3566.5
Best R squared:  0.0
Parameters of the best model:  {'model__n_iter': 100}
Features selected by best model:  ['Julian Day', 'Time Since Sown (Days)', 'Total Radiation (MJ/m^2)', 'Total Rainfall (mm)', 'Avg Air Temp (C)', 'Avg Min Temp (C)', 'Avg Max Temp (C)', 'Avg Soil Moisture (%)']

test results on our test data:
results:
0.8698495498496599
0.19009587681701257
model:  dtTup
Avg MAE:  2611.917
Avg R squared:  -175.123
Best MAE:  630.0
Best R squared:  0.858
Parameters of the best model:  {'model__criterion': 'mae', 'model__max_depth': 5}
Features selected by best model:  ['Julian Day', 'Time Since Sown (Days)', 'Total Radiation (MJ/m^2)', 'Total Rainfall (mm)', 'Avg Air Temp (C)', 'Avg Min Temp (C)', 'Avg Max Temp (C)', 'Avg Soil Moisture (%)']

test results on our test data:
results:
0.27840909090909094
0.8284126092578262